@charset "UTF-8";

#eventPage {
  padding-bottom: 20px;

  & .container {
    padding: 15px;

    & .event-head {
      // text-align: right;
      font-size: $fontSize - 2;
    }

    & .event-mid {
      position: relative;

      & .left,
      & .right {
        position: absolute;
        top: 40px;
        bottom: 0;
        width: 40px;
        text-align: center;
        color: $themeColor100;
        cursor: pointer;
        z-index: 2;

        &:hover {
          background-color: $themeColor5;
        }

        & .icont {
          position: absolute;
          left: 50%;
          margin-left: -6px;
          top: 50%;
          margin-top: -9px;
          z-index: 3;
          font-size: $fontSize - 2;
        }
      }

      & .left {
        left: 0;
      }

      & .right {
        right: 0;
      }

      & .center {
        width: 920px;
        position: relative;
        left: 65px;
        right: 65px;
        overflow-x: hidden;
        white-space: nowrap;
        & .move-box {
          position: relative;
          &.trans0 {
            transform:translateX(0);
            -webkit-transform:translateX(0);
            -o-transform:translateX(0);
            -moz-transform:translateX(0);
            -ms-transform:translateX(0);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans1 {
            transform:translateX(-310px);
            -webkit-transform:translateX(-310px);
            -o-transform:translateX(-310px);
            -moz-transform:translateX(-310px);
            -ms-transform:translateX(-310px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans2 {
            transform:translateX(-620px);
            -webkit-transform:translateX(-620px);
            -o-transform:translateX(-620px);
            -moz-transform:translateX(-620px);
            -ms-transform:translateX(-620px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans3 {
            transform:translateX(-930px);
            -webkit-transform:translateX(-930px);
            -o-transform:translateX(-930px);
            -moz-transform:translateX(-930px);
            -ms-transform:translateX(-930px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans4 {
            transform:translateX(-1240px);
            -webkit-transform:translateX(-1240px);
            -o-transform:translateX(-1240px);
            -moz-transform:translateX(-1240px);
            -ms-transform:translateX(-1240px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans5 {
            transform:translateX(-1550px);
            -webkit-transform:translateX(-1550px);
            -o-transform:translateX(-1550px);
            -moz-transform:translateX(-1550px);
            -ms-transform:translateX(-1550px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans6 {
            transform:translateX(-1860px);
            -webkit-transform:translateX(-1860px);
            -o-transform:translateX(-1860px);
            -moz-transform:translateX(-1860px);
            -ms-transform:translateX(-1860px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans7 {
            transform:translateX(-2170px);
            -webkit-transform:translateX(-2170px);
            -o-transform:translateX(-2170px);
            -moz-transform:translateX(-2170px);
            -ms-transform:translateX(-2170px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans8 {
            transform:translateX(-2480px);
            -webkit-transform:translateX(-2480px);
            -o-transform:translateX(-2480px);
            -moz-transform:translateX(-2480px);
            -ms-transform:translateX(-2480px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }
          &.trans9 {
            transform:translateX(-2790px);
            -webkit-transform:translateX(-2790px);
            -o-transform:translateX(-2790px);
            -moz-transform:translateX(-2790px);
            -ms-transform:translateX(-2790px);
            transition: linear 0.5s;
            -webkit-transition: linear 0.5s;
            -o-transition: linear 0.5s;
            -moz-transition: linear 0.5s;
            -ms-transition: linear 0.5s;
          }

          // &

          & .model {
            width: 300px;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            & .month {
              line-height: 40px;
              color: $themeColor100;
              margin-left: 5px;
            }

            & .date-content {
              min-height: 500px;
              border-top: 1px solid $fontColor2;
              border-bottom: 1px solid $fontColor2;
              font-size: $fontSize - 2;
              position: relative;

              & .no-event {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -9px;
                margin-left: -36px;
                color: $fontColor1;
              }

              & .date {
                box-sizing: border-box;
                display: inline-block;
                padding: 0 10px;
                line-height: 30px;
                background-color: $themeColor5;
                margin-top: 10px;
                cursor: pointer;

                &.one {
                  border-left: 2px solid $themeColor100;
                }

                &.two {
                  border-left: 2px solid $green;
                }

                &.three {
                  border-left: 2px solid $fontColor2;
                }

                &.overdue {
                  opacity: 0.4;
                }

                & .star {
                  color: $green;
                }
              }
            }
          }
        }
      }

    }
  }

  & .event-desc {
    padding: 20px 15px 0 15px;

    & .title {
      font-size: $fontSize + 2;
      font-weight: 700;
      color: $fontColor1;
    }

    & .option {
      font-size: $fontSize - 2;
      margin-bottom: 10px;

      & .name {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        text-align: right;
      }

      & .desc {
        display: inline-block;
        max-width: 900px;
        color: $fontColor1;
        margin-left: 10px;
      }
    }
  }
}

.content {
  font-size: $fontSize - 2;
  color: $fontColor2;
}

.popup {
  padding: 5px 0;
  min-height: 300px;
  padding-bottom: 20px;
  color: $fontColor2;

  & .option {
    margin-top: 10px;
    font-size: $fontSize - 2;

    & .lable {
      display: inline-block;
      text-align: right;
      width: 80px;
      color: #A1A1A1;
    }

    & .normal {
      display: inline-block;
      width: 460px;
      margin-left: 5px;
      color: $fontColor1;
      line-height: 32px;

      & input {
        &::placeholder {
          color: #A1A1A1 !important;
        }
      }
    }
  }

  & .content {
    cursor: pointer;
    padding: 0 24px;
    line-height: 40px;

    &:hover {
      background-color: $themeColor5;
    }

    & .year {
      font-weight: 700;
    }

    & .total {
      font-size: $fontSize - 2;

      & .title {
        margin-left: 20px;
        // margin-right: 5px;
      }

      & .one {
        color: $green;
      }

      & .two {
        color: #FF9900;
      }

      & .three {
        color: $fontColor2;
      }
    }
  }

  & .connect {
    padding: 10px 24px;
    font-size: $fontSize - 2;

    & .title {
      color: #A1A1A1;
    }

    & .common {
      display: inline-block;
      width: 460px;

      & .search-result {
        position: absolute;
        width: 100%;
        left: 0;
        top: 32px;
        height: 245px;
        overflow-y: auto;
        border-radius: 5px;
        background-color: $clf;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.078);
        line-height: normal;
        padding: 5px 0;
        z-index: 9;

        & .list {
          margin-top: 5px;

          & .result-content {
            line-height: 32px;
            text-align: left;
            color: $fontColor1;
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
              background-color: $themeColor5;
            }

            & .result-title {
              display: inline-block;
              width: 90%;
              vertical-align: middle;
              @include textOverflow;
            }
          }
        }

        & .no-result {
          font-size: $fontSize - 2;
          color: $fontColor1;
          text-align: center;
          margin: 100px 0;
        }
      }
    }

    & .choose {
      max-height: 300px;
      overflow-y: auto;

      & .list {
        line-height: 40px;
        margin-top: 5px;
        position: relative;

        & .name {
          display: inline-block;
          width: 380px;
          vertical-align: middle;
          @include textOverflow;
          margin-left: 5px;
          margin-right: 10px;
          color: $fontColor1;
        }
      }
    }
  }
}
