@charset "UTF-8";

#taopuPage {
  padding-bottom: 20px;

  & .main-container {
    & .search {
      padding: 40px 140px;

      & .title {
        color: $fontColor1;
        font-size: $fontSize + 2;
        text-align: center;
      }

      & .curren {
        font-size: $fontSize - 2;
        margin-top: 40px;
      }

      & .history {
        & .content {
          text-align: center;
          display: inline-block;
          padding: 20px;
          border: 1px solid $clf;
          cursor: pointer;
          box-sizing: border-box;
          background-color: $themeColor5;
          margin-right: 10px;
          max-width: 140px;

          &:hover {
            border-color: $themeColor60;
          }

          & .title {
            color: $fontColor1;
            font-size: $fontSize;
            margin-top: 10px;
            height: 42px;
            @include twoColtextOverflow;
          }

          & .sale {
            font-size: $fontSize - 2;
          }
        }
      }

      & .search-result {
        position: absolute;
        width: 100%;
        left: 0;
        top: 42px;
        height: 245px;
        overflow-y: auto;
        border-radius: 5px;
        background-color: $clf;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.078);
        line-height: normal;
        padding: 5px 0;
        z-index: 9;

        & .list {
          margin-top: 5px;

          & .result-content {
            line-height: 32px;
            text-align: left;
            color: $fontColor1;
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
              background-color: $themeColor5;
            }

            & .result-title {
              display: inline-block;
              width: 90%;
              vertical-align: middle;
              @include textOverflow;
            }
          }
        }
        & .no-result{
          font-size: $fontSize - 2;
          color: $fontColor1;
          text-align: center;
          margin: 100px 0;
        }
      }
    }

    & .choose {
      padding: 7px 15px;

      & .float-left {
        margin-top: 2px;
      }
    }

    & .sale-rank {}
  }
}
