@charset "UTF-8";

#newProductPage {
  padding-bottom: 20px;

  & .new-data {
    padding: 20px 15px;

    & .data-block {
      padding: 15px 10px;
      background-color: #f4f7fd;
      width: 220px;
      box-sizing: border-box;
      margin-right: 10px;
    }
  }
  & .choose{
    padding:8px 15px;
    & .common {
      width: 460px;

      & .search-result {
        position: absolute;
        width: 100%;
        left: 0;
        top: 32px;
        height: 245px;
        overflow-y: auto;
        border-radius: 5px;
        background-color: $clf;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.078);
        line-height: normal;
        padding: 5px 0;
        z-index: 9;

        & .list {
          margin-top: 5px;

          & .result-content {
            line-height: 32px;
            text-align: left;
            color: $fontColor1;
            padding: 5px 15px;
            cursor: pointer;

            &:hover {
              background-color: $themeColor5;
            }

            & .result-title {
              display: inline-block;
              width: 90%;
              vertical-align: middle;
              @include textOverflow;
            }
          }
        }

        & .no-result {
          font-size: $fontSize - 2;
          color: $fontColor1;
          text-align: center;
          margin: 100px 0;
        }
      }
    }
  }
  & .goods-list{
    padding:10px 15px;
    & .data-block {
      display: inline-block;
      padding: 9px 10px;
      background-color: #f4f7fd;
      width: 160px;
      box-sizing: border-box;
      margin-left: 5px;
      & .font{
        font-size: $fontSize + 2;
        color: $fontColor1;
      }
    }
    & .goods{
      @include displayFlex(flex,null,center);
      & .goods-image{
        display: inline-block;
        width:63px;
        height: 63px;
        position: relative;
        & .goods-logo{
          position: absolute;
          top: 0;
          left: 0;
          color: $clf;
          width: 20px;
          text-align: center;
          line-height: 20px;
          z-index: 3;
          &.prev{
            background-color: rgba(23, 84, 210, 0.7);
          }
          &.group{
            background-color: rgba(255, 153, 0, 0.7);
          }
        }
      }
      & .title{
        display: inline-block;
        max-width: 240px;
        margin-right: 5px;
        margin-left: 5px;
        @include textOverflow;
      }
    }
  }
  & .page{
    padding:10px 15px;
    text-align: right;
  }
  & .no-data{
    text-align: center;
    color: $fontColor1;
    font-size: $fontSize - 2;
    padding: 175px 0;
  }
}
