@charset "UTF-8";
/*********颜色********/
// 导航栏背景色基础主题色100
$themeColor100:#1754D2;
// 可点击文字颜色（正常）、按钮底色（正常）、基础主题色80
$themeColor80:#4576DB;
// 可点击文字颜色（悬停）、按钮底色（悬停）、基础主题色60
$themeColor60:#7498E4;
// 基础主题色20
$themeColor20:#D1DDF6;
// 页面背景色基础主题色10
$themeColor10:#E8EEFB;
// 视觉辅助基础主题色5
$themeColor5:#F4F7FD;
// 标准文本信息基础黑色
$fontColor1:#07193f;
// 次要文本信息基础灰色
$fontColor2:#7789af;
// 数据增长颜色、警告操作颜色基础红色
$red:#E3615C;
// 极浅红色
$lightRed:#F9DFDE;
// 基础绿色
$green:#57B878;
// 极浅绿色
$lightGreen:#DDF1E4;
// 橙色
$orange:
$clf:#FFFFFF;

/*******字体******/
$fontSize:14px;
